h2 = @title

javascript: wsocks
javascript: var connection = new WebSocket('ws://localhost:3000/channel');
javascript: var message = :"hallo"
javascript: connection.onopen(message)
javascript: connection.onmessage(message)
javascopt: connection.onerror(message)
